//scroll animation
.scroll {
  right: 0;
  bottom: 0;
  width: calc(30vh + 5.5em);
  transform: rotate(90deg);
  margin-bottom: 7.5rem;
  margin-right: -7.25rem;
  @media (max-width: $mindevice-width) {
    margin-right: -6.5rem;
  }
  @media (min-width: $tablet-width) {
    width: calc(20vh + 5.5em);
    margin-right: -7rem;
  }
  @media (min-width: $tablet-width + 1 ) {
    margin-bottom: 5rem;
    margin-right: -5rem;
  }
}
.scroll-line {
  width: 30vh;
  border-top: 1px solid $text-color;
  position: relative;
  top: -.25rem;
  animation: scroll 1.5s cubic-bezier(.15,.41,.69,.94) infinite;
  @media (min-width: $tablet-width) {
    width: 20vh;
  }
}
@keyframes scroll {
  0% { width: 0vh }
  50% { width: 10vh; }
}

.top-scroll {
  overflow-x: hidden;
}

//about
.about-section {
  background-color: $key-color;
  width: 100%;
  overflow: hidden;
}
.key-visual {
  width: 100vw;
  height: 100vh;
}
.round-logo {
  width: 212px;
  height: 212px;
  margin-top: -106px;
  margin-left: -106px;
  transform: scale(1.2);
  @media (min-width: $tablet-width + 1) {
    width: 260px;
    height: 260px;
    margin-top: -130px;
    margin-left: -130px;
  }
}
.round-overlay {
  width: 274px;
  height: 274px;
  margin-top: -137px;
  margin-left: -137px;
  transform: scale(1.5);
  @media (min-width: $tablet-width + 1) {
    width: 335px;
    height: 335px;
    margin-top: -167px;
    margin-left: -167px;
  }
  &.animated {
    animation: spin 20s linear infinite;
  }
}
.round-logo,
.round-overlay {
  left: 50%;
  top: 50%;
  opacity: 0;
  transition: 1s ease-in-out all;
  &.animated {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin{
  0%{transform:rotate(0deg);transform:rotate(0deg)}
  to{-webkit-transform:rotate(-1turn);transform:rotate(-1turn)}
}

.profile {
  @include font-setting(14);
}
.profile-name,
.profile-title {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  letter-spacing: 0;
}
.profile-name {
  transform: rotate(90deg);
  left: 0;
  top: 0;
  margin-left: -3.5rem;
  margin-top: 3rem;
  @include font-setting(48);
  @media (min-width: $tablet-width + 1) {
    @include font-setting(76);
    margin-left: -5rem;
    margin-top: 5rem;
  }
}
.profile-text {
  padding-left: 4rem;
  @media (min-width: $tablet-width + 1) {
    padding-left: 6rem;
  }
}
.profile-title {
  text-align: right;
  @include font-setting(30);
  &::before {
    content: "";
    border-bottom: 1px solid #000;
    width: calc(100% - 8.25rem - 4rem);
    height: 2px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-right: .5rem;
    top: -.45rem;
    @media (min-width: $tablet-width + 1) {
      width: calc(100% - 10.25rem - 4rem);
    }
  }
}
.profile-name-sub {
  @include font-setting(16);
}
.profile-poem {
  @media (min-width: $tablet-width + 1) {
    padding-left: 6rem;
  }
}

.vision {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media (min-width: $tablet-width + 1) {
    padding-bottom: 4rem;
  }
}
.vision-title {
  @include font-setting(20);
  @media (min-width: $tablet-width + 1) {
    @include font-setting(32);
  }
  @media (max-width: $mindevice-width) {
    @include font-setting(16);
  }
  .title-line {
    z-index: 1;
    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 6px;
      background-color: #fff;
      position: absolute;
      bottom: .5rem;
      left: 0;
      z-index: -1;
      @media (max-width: $mindevice-width) {
        bottom: .4rem;
      }
      @media (min-width: $tablet-width + 1) {
        bottom: .75rem;
      }
    }
  }
}
.vision-image {
  width: 80vw;
  margin: 1rem;
  @media (min-width: $tablet-width) {
    width: 60vw;
  }
  @media (min-width: $tablet-width + 1) {
    width: 40vw;
    max-width: 480px;
    margin: 1.5rem;
  }
}
.vision-lead {
  @include font-setting(16);
  font-weight: 700;
  @media (min-width: $tablet-width + 1) {
    @include font-setting(20);
  }
}

//works
.works-section {
  padding-top: 2.5rem;
  padding-bottom: 0;
  @media (min-width: $tablet-width + 1) {
    padding-top: 4rem;
    padding-bottom: 1.75rem;
  }
}
.works-box {
  background: url('../images/bg_shadow.png') 90% 0% no-repeat;
  background-size: 90% auto;
  @include font-setting(16);
  @media (min-width: $tablet-width + 1) {
    background-position: 62% 52%;
    background-size: 69% auto;
    @include font-setting(20);
  }
  padding-bottom: 2rem;
  img {
    width: 80vw;
    margin-bottom: .5rem;
    @media (min-width: $tablet-width + 1) {
      width: 60vw;
    }
  }
}
.works-title {
  h1, h2 {
    line-height: 1.3;
  }
}